{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block app_content %}
<div class="list-group">
    {% for game in games %}
    <a href="/edit_game/{{game.id}}" class="list-group-item list-group-item-action ">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ game.date }} between {{ game.start_time.strftime('%H:%M') }} - {{ game.end_time.strftime('%H:%M') }}</h5>
            <small>
                {% if (game.date - todays_date).days == 0 %}
                    Today!
                {% elif (game.date - todays_date).days == 1 %}
                    Tomorrow
                {% else %}
                     In {{ (game.date - todays_date).days }} days
                {% endif %}
            </small>
        </div>

        {% for player in game.players %}
        <p class="mb-1">{{ player.user.username }}   </p>

        {% endfor %}


        <small>League: {{ game.league.name }}</small><br>
        <small>{{ game.arena.name }}</small>
    </a>
    {% endfor %}

</div>


{% endblock %}
